<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    
    <client>
      <endpoint name="Clerk" contract="Colombo.Clerk.Service.IClerkService" address="net.msmq://localhost/private/ClerkTest" binding="netMsmqBinding" />
    </client>
    
    <bindings>
      <netMsmqBinding>
        <binding>
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
  
</configuration>