<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="FullTextSearchIndexDirectory" value="D:\Lucene"/>
  </appSettings>
  
  <system.serviceModel>
    <services>

      <service name="Colombo.Clerk.Server.ClerkService">
        <endpoint address="net.msmq://localhost/private/Clerk"
                  binding="netMsmqBinding"
                  contract="Colombo.Clerk.Service.IClerkService"
                  bindingConfiguration="ClerkServiceBindingConfiguration" />
      </service>

      <service name="Colombo.Wcf.ColomboService">
        <endpoint address="net.tcp://localhost:13650" binding="netTcpBinding" contract="Colombo.Wcf.IColomboService" />
      </service>

      <service name="Colombo.Wcf.SoapService" behaviorConfiguration="MetaDataBehavior">
        <endpoint address="http://localhost:13651/Colombo" binding="basicHttpBinding" contract="Colombo.Wcf.ISoapService" />
        <endpoint address="http://localhost:13651/Colombo/MEX" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

    </services>

    <bindings>
      <netMsmqBinding>
        <binding name="ClerkServiceBindingConfiguration">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="MetaDataBehavior">
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>