<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    
    <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
    <property name="connection.connection_string">
      Data Source=BAI1563\SQLEXPRESS;Initial Catalog=Clerk;Integrated Security=True
    </property>
    
  </session-factory>
</hibernate-configuration>