@{
    ViewBag.Title = "Dashboard";
}

<script id="serverStatsTemplate" type="text/x-jquery-tmpl">
    <ul>
    {{each ServerStats}}
        <li>${$value.Key} - ${$value.Value.NumRequestsHandled}</li>
    {{/each}}
    </ul>
</script>

<div id="serverStats" data-remote="true" data-url="@Url.Content("~/Colombo.svc/GetStatsByServer")" data-template="serverStatsTemplate"></div>