<?xml version="1.0" encoding="utf-8" ?>
<!--
  This file contains basic settings needed for most web apps.
  For full Combres settings (with explanation), refer to the sample definition file: combres_full_with_annotation.xml
  Also, refer to Combres' documentation: http://combres.codeplex.com/documentation	
-->
<combres xmlns='urn:combres'>
  <filters>
    <filter type="Combres.Filters.FixUrlsInCssFilter, Combres" />
  </filters>
  <resourceSets url="~/combres.axd"
                defaultDuration="30"
                defaultVersion="auto"
                defaultDebugEnabled="false"
                defaultIgnorePipelineWhenDebug="true"
                localChangeMonitorInterval="30"
                remoteChangeMonitorInterval="60"
                >
    <resourceSet name="ClerkCss" type="css">
      <resource path="~/Content/CSS/Clerk.css" />
    </resourceSet>
    <resourceSet name="ClerkJs" type="js">
      <resource path="~/Content/JS/jquery-1.4.4.min.js" />
      <resource path="~/Content/JS/jquery.superfish.min.js" />
      <resource path="~/Content/JS/jquery.supersubs.min.js" />
      <resource path="~/Content/JS/jquery.tmpl.min.js" />
      <resource path="~/Content/JS/Clerk.js" />
    </resourceSet>
  </resourceSets>
</combres>
